/*
Student Info: Name=Pavanitha Kalyanam, ID=19361 
Subject: CS595(G)_GrabUrOffer_Spring_2017 
Author: KrishnaReddy 
Filename: login.css 
Date and Time: Mar 11, 2017 6:48:20 PM  
Project Name: GrabUrOfferProject 
*/ 

h2 {color: red;}
.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
color:red;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  color:red;
  padding-right: 20%;
}



.login_form{ 
height:350px;
width:250px;
margin:auto;
border:1px #CCC solid;
padding:10px;

}


.login_form input 
{ 
	
padding:5px;
	
margin:5px
 
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cancelbtn {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
} 
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
